@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Vend Sans", sans-serif;;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #08001f, #30197d);
  color: white;
  position: relative;
}

.container {
  width: 800px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.clock {
  width: 100%;
  height: 100%;
  background: rgba(235,0,255,0.11);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(30px);
  border-radius: 15px;
}

.container::before {
  content: '';
  width: 180px;
  height: 180px;
  background: #f41b75;
  border-radius: 5px;
  position: absolute;
  left: -50px;
  top: -30%;
  z-index: -1;
}

.container::after {
  content: '';
  width: 180px;
  height: 180px;
  background: #419aff;
  border-radius: 50%;
  position: absolute;
  right: -40px;
  bottom: -50px;
  z-index: -1;
}

.clock span {
  font-size: 80px;
  width: 110px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.clock span::after {
  font-size: 16px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.Hrs::after {
  content: 'HOURS';
}

.Min::after {
  content: 'MINS';
}

.Sec::after {
  content: 'SEC';
}

.Text{
  align-items: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.Text h1 {
  font-size: 3rem;           
  font-weight: 600;
  color: white;
}


